<style>
.facultyCard {
  border: 1px solid #c4c4c4;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-bottom:10px;
}

.facultyCard img {
  width:100%;
  height:350px;
  object-fit:cover;
  object-position:center top;
  padding:20px 0px;
}

.facultyCard p, .facultyCard h4 {
  margin:0px;
  padding:0px;
}

.facultyCard .facultyCard-no-image {
  background-color:#d1d1d1;
  width:100%;
  height:310px;
  margin:20px 0px;
}

.staffPagination {
  background-color:#EEB111;
  color:#ffffff;
  border:0;
  border-radius:0;
  padding:10px 20px;
  margin:10px;
  cursor:pointer;
}
</style>


<div class="row">
  {% if staff is empty %}
    <div class="col-12">There are no staff members in the database.</div>
  {% else %}
    {% for member in staff.data %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="facultyCard">
          <a href="/employee/view/{{ member.sid }}">
            {% if member.path is not null %}
              <img src="{{ file_url(member.path) }}" class="img-fluid">
            {% else %}
              <div class="facultyCard-no-image"></div>
            {% endif %}

            <h4>{{ member.name | title }}</h4>
          </a>

          <p>{{ member.position | title }}</p>
          <a href="mailto:{{ member.email }}">{{ member.email }}</a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>


<div>
{% if staff.prev is not null %}
  <button class="staffPagination" style="margin-right:0px;" type="button" onclick="window.location.href = '{{ staff.prev }}';">Previous</button>
{% endif %}

{% if staff.next is not null %}
  <button class="staffPagination" style="margin-left:0px" type="button" onclick="window.location.href = '{{ staff.next }}';">Next</button>
{% endif %}</div>
