<script>

</script>
<table>
  <thead>
    <tr>
      <th>Name1</th>
      <th>Position</th>
      <th>Email</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
    {% if staff is empty %}
      <tr>
        <td colspan="8">There are no staff members in the database.</td>
      </tr>
    {% else %}
      {% for member in staff.data %}
        <tr>
          <td><a href="faculty/view/{{ member.sid }}">{{ member.name | title }}</a></td>
          <!-- <td>{# member.staff_category | replace({'_':' '}) | title #}</td> -->
          <td>{{ member.position | title }}</td>
          <td>{{ member.email }}</td>
          <td>
              {% if member.path is not null %}
                <img src="{{ file_url(member.path) }}">
              {% else %}
                No picture provided.
              {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% if staff.prev is not null %}
  <button type="button" onclick="window.location.href = '{{ staff.prev }}';">Previous</button>
{% endif %}

{% if staff.next is not null %}
  <button type="button" onclick="window.location.href = '{{ staff.next }}';">Next</button>
{% endif %}
