<style>
.facultyCard {
  border: 1px solid #c4c4c4;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-bottom:10px;
}

.facultyCard img {
  width:100%;
  height:350px;
  object-fit:cover;
  object-position:center top;
  padding:20px 0px;
}

.facultyCard p, .facultyCard h4 {
  margin:0px;
  padding:0px;
}

.facultyCard .facultyCard-no-image {
  background-color:#d1d1d1;
  width:100%;
  height:310px;
  margin:20px 0px;
}
</style>

<div class="row">
  {% if staff.data is empty %}
    <div class="col-12">There are no staff members in the database.</div>
  {% else %}
    {% if staff.categories %}
      <div class="col-12">
        <p class="d-inline">Deparment: </p>
        <select class="filterCategory mt-3 mb-3" name="staffCategory">
          <option name="all">All departments</option>
          {% for category in staff.categories %}
            {% if staff.department == category.safe %}
              <option name="{{ category.safe }}" selected="selected">{{ category.clean | title }}</option>
            {% else %}
              <option name="{{ category.safe }}">{{ category.clean | title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    {% endif %}
    {% for member in staff.data %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="facultyCard">
          <a href="/employee/view/{{ member.sid }}">
            {% if member.path is not null %}
              <img src="{{ file_url(member.path) }}" class="img-fluid">
            {% else %}
              <div class="facultyCard-no-image"></div>
            {% endif %}

            <h4>{{ member.name | title }}</h4>
          </a>

          <p>{{ member.position | title }}</p>
          <a href="mailto:{{ member.email }}">{{ member.email }}</a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<script>
jQuery('.filterCategory').on('change', function(){
  var selected = jQuery(this).find(':selected').attr('name');

  if(selected == "all") {
    window.location.href = "https://www.bethelks.edu/employee";
  } else {
    window.location.href = "https://www.bethelks.edu/employee/department/"+selected;
  }
});
</script>
