{% if staff is null %}
  <p>The staff member you are looking for does not exist.</p>
{% else %}

<div class="row mt-2">
  <div class="col-12 col-md-4 col-lg-3 pt-2 rounded" style="background-color:#efebe8;">
    <img src="{{ file_url(staff.imguri) }}" alt="{{ staff.name }}" class="img-fluid img-thumbnail">
    <p class="mt-1"><strong>Email:</strong><br><a href="mailto:{{staff.email}}">{{staff.email}}</a></p>
    <p><strong>Office Phone (x{{staff.extension}}):</strong><br><a href="tel:{{staff.telephone}}">{{staff.telephone}}</a></p>
    <p><strong>Office Location:</strong><br>{{staff.campus_location}}</p>
  </div>
  <div class="col-12 col-md-8 col-lg-9">
    <div class="row">
      <div class="col-6">
        <ul class="list-unstyled">
          {% for key,val in staff.categories %}
            <li>{{ staff.position }}, {{val | replace('_', ' ') | title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-unstyled">
          <li><em>Education:</em></li>
          {% for key,val in staff.education %}
            <li>{{val}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row pl-2 pr-2">
        <div class="col-12 pt-3 pb-3 mb-3" style="background-color:#d2922a;">
          <h4 class="text-white mb-0">Summary</h4>
        </div>
        <div class="col-12">
          <p>{{staff.bio}}</p>
        </div>
    </div>
  </div>
</div>
{% endif %}
