{% if staff is null %}
  <p>The staff member you are looking for does not exist.</p>
{% else %}
  <style>
    .tempTable td {
      text-align:center;
    }
  </style>

  <br>

  <table class="tempTable" border="1">
    <thead>
      <tr>
        <th colspan="2">Staff Information</th>
      </tr>
    </thead>
    <tbody>
      {% for key,val in staff %}
        {% if val is iterable %}
          <tr><td colspan="2">{{ key }}</td></tr>
          {% for innerKey,innerVal in val %}
            <tr>
            <td>{{ innerKey }}</td>
            <td>{{ innerVal }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ val }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
