{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <head-placeholder token="{{ placeholder_token|raw }}">
    <link rel="icon" type="image/png" href="/themes/custom/bethelks/favicon.png">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    {{ attach_library('bethelks/avenirfont-css') }}
    {{ attach_library('bethelks/bootstrap-css') }}
    {{ attach_library('bethelks/font-awesome-css') }}
    {{ attach_library('bethelks/global-css') }}

    {{ attach_library('bethelks/bootstrap-js') }}
    {{ attach_library('bethelks/parallax-js') }}
    {{ attach_library('bethelks/isotope-js') }}
    {{ attach_library('bethelks/global-js') }}
  </head>
  {% if '/article' in url %}
    <body{{ attributes }}>
  {% else %}
    <body{{ attributes }} style="background-color:#F6F5F5;">
  {% endif %}
    {{ page_top }}

    <div class="popout-menu-open">
      <img src="/{{ directory ~ "/images/popout-menu.png" }}" class="img-fluid" alt="Menu">
      <p>Menu</p>
    </div>

    <div class="popout-menu container-full">
      <div class="row no-gutters popout-search">
        <div class="col-12 d-flex justify-content-left align-items-center">
          <i class="fa fa-times popout-exit" aria-hidden="true"></i>
        </div>
        <div class="col-12">
          <gcse:search></gcse:search>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-12">
          <ul class="popout-menu-main-navigation mt-2 mb-0">
            <li><a href="/about-bc">About</a></li>
            <li><a href="/admissions">Admissions</a></li>
            <li><a href="/academics">Academics</a></li>
            <li><a href="/affordability-0">Affordability</a></li>
            <li><a href="/student-life">Student Life</a></li>
            <li><a href="/thresher-success">Success</a></li>
          </ul>
          <ul class="mt-3 mb-3 popout-menu-button-list">
            <li><a class="popout-menu-button" href="/form/inquire">Inquire</a></li>
            <li><a class="popout-menu-button" href="/form/visit">Visit</a></li>
            <li><a class="popout-menu-button popout-menu-button-yellow" href="/form/application">Apply</a></li>
          </ul>
        </div>
      </div>
      <div class="row no-gutters popout-menu-middle text-center">
        <div class="col-12 col-md-6">
          <ul class="mt-1 mb-1 pl-0">
            <li><a href="/alumni">Alumni</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/donors">Donors</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6">
          <ul class="mt-1 mb-1 pl-0">
            <li><a href="http://www.bethelthreshers.com">Athletics</a></li>
            <li><a href="/fine-arts">Fine Arts</a></li>
            <li><a href="/newsroom">News & Events</a></li>
          </ul>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-12">
          <ul class="mt-3 mb-3 popout-menu-button-list">
            <li><a class="popout-menu-button" href="#">Bienvenidos</a></li>
            <li><a class="popout-menu-button popout-menu-button-yellow" href="#">Donate</a></li>
            <li><a class="popout-menu-button" href="#">Thresher Connect</a></li>
          </ul>
        </div>
      </div>
      <div class="row no-gutters popout-menu-social">
        <div class="col-12 text-center">
          <a href="https://www.twitter.com/bethelks"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/BethelThreshers/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://instagram.com/bethelcollegeks/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/c/BethelksEdu1887"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/edu/bethel-college-37171"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://www.snapchat.com/add/bethelcollegeks"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <a class="js-scroll-to-top" href="#toTop">
      <i class="fa fa-angle-up"></i>
    </a>

    {% if page.header is empty %}
      <div class="alert alert-danger container" role="alert">
        <p><strong>Error!</strong> No data found within the page header. Please contact the site administrator.</p>
      </div>
    {% else %}
      {{ page.header }}
    {% endif %}

    {% if page.postHeader is empty %}
      <div class="alert alert-danger container" role="alert">
        <p><strong>Error!</strong> No data found within the page post-header. Please contact the site administrator.</p>
      </div>
    {% else %}
      {{ page.postHeader }}
    {% endif %}

    <div class="container">
      <div class="row" style="margin-left:0px;margin-right:0px;">
        {% if "/faculty/view" not in url('<current>')|render|render %}
          {% if page.rightSidebar is empty %}
            <div class="col-12 articleOrPageContent">
          {% else %}
            <div class="col-12 col-lg-9 articleOrPageContent">
          {% endif %}
        {% else %}
          <div class="col-12">
        {% endif %}
          {% if page.content is empty %}
            <div class="alert alert-danger" role="alert">
              <p><strong>Error!</strong> No data found within the page content. Please contact the site administrator.</p>
            </div>
          {% else %}
            {{ page.content }}
          {% endif %}
        </div>
        {% if '/faculty/view' not in url('<current>')|render|render %}
            {% if page.rightSidebar is empty %}
              <!-- nothing -->
            {% else %}
              <div class="col-12 col-lg-3">
                {{ page.rightSidebar }}
              </div>
            {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="container-fluid preFooterFull">
      <div class="container">
        {% if page.preFooter is empty %}
          <div class="alert alert-danger" role="alert">
            <p><strong>Error!</strong> No data found within the page pre-footer. Please contact the site administrator.</p>
          </div>
        {% else %}
          {{ page.preFooter }}
        {% endif %}
      </div>
    </div>

    <div class="container-fluid footerFull">
      <div class="container">
        {% if page.footer is empty %}
          <div class="alert alert-danger container" role="alert">
            <p><strong>Error!</strong> No data found within the page footer. Please contact the site administrator.</p>
          </div>
        {% else %}
          {{ page.footer }}
        {% endif %}
      </div>
    </div>

    {{page_bottom}}

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
