{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% if '/article/' in url %}
  <div class="col-12 order-1 articleNewsBanner">
    <img class="img-fluid" src="../themes/custom/bethelks/images/news-banner.jpg">
  </div>
  <div{{ attributes.addClass('col-12 order-6 d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
{% else %}
  {% if '/about-bc' in url %}
    <div class="col-5 postHeader-basicPageBanner align-middle">
      <h2>About BC</h2>
    </div>
    <div class="col-1 postHeader-basicPageBannerTriangle"></div>
    <div{{ attributes.addClass('col float-right d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% elseif '/admissions' in url %}
    <div class="col-5 postHeader-basicPageBanner align-middle">
      <h2>Admissions</h2>
    </div>
    <div class="col-1 postHeader-basicPageBannerTriangle"></div>
    <div{{ attributes.addClass('col float-right d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% elseif '/academics' in url %}
    <div class="col-5 postHeader-basicPageBanner align-middle">
      <h2>Academics</h2>
    </div>
    <div class="col-1 postHeader-basicPageBannerTriangle"></div>
    <div{{ attributes.addClass('col float-right d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% elseif '/affordability' in url %}
    <div class="col-5 postHeader-basicPageBanner align-middle">
      <h2>Affordability</h2>
    </div>
    <div class="col-1 postHeader-basicPageBannerTriangle"></div>
    <div{{ attributes.addClass('col float-right d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% elseif '/student-life' in url %}
    <div class="col-5 postHeader-basicPageBanner align-middle">
      <h2>Student Life</h2>
    </div>
    <div class="col-1 postHeader-basicPageBannerTriangle"></div>
    <div{{ attributes.addClass('col float-right d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% elseif '/thresher-success' in url %}
    <div class="col-5 postHeader-basicPageBanner align-middle">
      <h2>Thresher Success</h2>
    </div>
    <div class="col-1 postHeader-basicPageBannerTriangle"></div>
    <div{{ attributes.addClass('col float-right d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% else %}
    <div{{ attributes.addClass('col-12 d-flex justify-content-end align-items-center postHeader-breadcrumbs') }}>
  {% endif %}
{% endif %}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
{% if '/article/' in url %}
  <div class="col-12 order-8"><br><br></div>
{% endif %}
